@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

/* 
font-family: "Fira Code", monospace;
font-family: "Press Start 2P", system-ui;
font-family: "Source Code Pro", monospace;
*/

* {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  transition: 0.3s;
  /* color: #e8e8e8; */
  overflow: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
